In [0]:
df = spark.table('samples.tpch.lineitem') 
psdf = df.pandas_api() 

psdf['total_extendedprice'] = psdf['l_extendedprice']
psdf['total_discounted_extendedprice'] = psdf['l_extendedprice'] * (1 - psdf['l_discount'])
psdf['total_discounted_extendedprice_with_tax'] = psdf['total_discounted_extendedprice'] * (1 + psdf['l_tax'])

psdf['average_extendedprice'] = psdf['l_extendedprice']
psdf['average_quantity'] = psdf['l_quantity']
psdf['average_discount'] = psdf['l_discount']
psdf['count_rows'] = psdf['l_orderkey']

psdf.groupby(['l_returnflag','l_linestatus']).agg({'total_extendedprice':'sum','total_discounted_extendedprice':'sum','total_discounted_extendedprice_with_tax':'sum',
'average_extendedprice':'mean','average_quantity':'mean','average_discount':'mean',
'count_rows':'count'}).sort_index()

/databricks/spark/python/pyspark/sql/pandas/utils.py:117: UserWarning: The conversion of DecimalType columns is inefficient and may take a long time. Column names: [total_extendedprice, total_discounted_extendedprice, total_discounted_extendedprice_with_tax, average_extendedprice, average_quantity, average_discount] If those columns are not necessary, you may consider dropping them or converting to primitive types before the conversion.
  warnings.warn(

                          total_extendedprice total_discounted_extendedprice total_discounted_extendedprice_with_tax average_extendedprice average_quantity average_discount  count_rows
l_returnflag l_linestatus
A            F                283107483036.12              268952035589.0630                     279714361804.228122          38237.672531        25.502594         0.049998     7403889
N            F                  7364213967.95                6995782725.6633                       7275821143.989585          38267.783391        25.532153         0.050031      192439
             O                573408429286.93              544739673665.2863                     566536316588.144688          38234.584953        25.498279         0.049997    14997114
R            F                283310887148.20              269147687267.2029                     279912972474.864338          38252.414805        25.513233         0.049996     7406353